<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TEI - Comparação de Templates</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/style.css"/>
</head>
<body class="content-div text-center">
    <div class="index-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html">TEI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analyze">Insights</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/compare">Template</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/market">Preços</a>
            </li>
            </ul>
        </div>
    </nav>
    <section class="compare-container">
    <header><h2 class="header-comparisson">Comparação de Edital e Propostas</h2></header>
    <div class="row comparisson">
        <div class="col-sm-6">

            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edital</h5>
                <hr/>
                <p class="card-text" style="text-align: left">
                        EDITAL DE PREGÃO PARA REGISTRO DE PREÇOS N. 025/SMSU/2018 OFERTA DE COMPRA n
                        801005801002018OC00057 PARTICIPAÇÃO RESERVADA OFERTA DE COMPRA n
                        801005801002018OC00058 PARTICIPAÇÃO AMPLA PROCESSO SEI N 6029.2018/00002534
                        OBJETO: “Registro de Preços para aquisição de peças de uniformes tipo bota cano curto – borzeguim para efetivo da
                        Guarda Civil Metropolitana.” <span class="alert-warning">MODALIDADE: PREGÃO ELETRÔNICO ENDEREÇO http://www.bec.sp.gov.br
                        http://www.bec.fazenda.sp.gov.br TIPO MENOR PREÇO DATA: 19/06/2018</span> HORÁRIO: 11:00 horas LOCAL: R. da
                        Consolação n 1379 8 andar Consolação São Paulo/SP CAUFESP. Registro de Preço para aquisição de
                        UNIFORMES MASCULINOS FEMININOS para efetivo da GUARDA CIVIL METROPOLITANO
                        </br></br>
                        Item Descrição do item Tipo Quantidade Participação
                        <span class="alert-danger" data-toggle="tooltip" data-placement="top" title="Quantidade alterada, alto risco">
                        01 Bota	preta	de	cano	curto	– borzeguim PAR 600 RESERVADA
                        </span>
                        02 Bota	preta	de	cano	curto	– borzeguim PAR 1800 AMPLA
                        </br></br>
                        ITEM 01 COTA RESERVADA destinada EXCLUSIVAMENTE à participação de MICRO E/OU
                        PEQUENAS EMPRESAS E/OU ÀS SOCIEDADES COOPERATIVAS que tenham auferido no
                        calendário anterior receita bruta até limite definido no inciso II do caput do artigo 3 da Lei Complementar
                        Federal n 123 de 14 de dezembro de 2006 Poderão participar desta licitação todos que estiverem registrados
                        no CAUFESP em atividade econômica compatível com seu objeto que sejam detentores de senha para
                        participar de procedimentos eletrônicos tenham credenciado os seus representantes na forma estabelecida no
                        regulamento que disciplina inscrição no referido Cadastro. As informações respeito das condições exigidas
                        dos procedimentos serem cumpridos para registro no CAUFESP para credenciamento de representantes para
                        obtenção de senha de acesso estão disponíveis no endereço eletrônico www.bec.sp.gov.br. CONDIÇÕES
                        FISCALIZAÇÃO LOCAL DE ENTREGA. entrega do objeto será em até 30 (trinta) dias úteis contados
                        da retirada da Ordem de Fornecimento. objeto deverá ter garantia de no mínimo 12 meses contra defeitos
                        de fabricação contar do recebimento definitivo do objeto. As solicitações de prorrogação de prazo para entrega
                        do objeto deverão atender as seguintes condições: ser protocoladas até data final prevista para entrega
                        instruídos com justificativa respectiva comprovação documental conforme art. 56 do Decreto 44.279/03.
                </p>
            </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Proposta</h5>
                <hr/>
                <p class="card-text" style="text-align: left">
                        Proposta DE PREGÃO PARA Efetuar negociação N. 025/SMSU/2018 OFERTA DE COMPRA n
                        801005801002018OC00057 PARTICIPAÇÃO RESERVADA OFERTA DE COMPRA n
                        801005801002018OC00058 PARTICIPAÇÃO AMPLA PROCESSO SEI N 6029.2018/00002534
                        OBJETO: “Registro de Preços para aquisição de peças de uniformes tipo bota cano curto – borzeguim para efetivo da
                        Guarda Civil Metropolitana.” <span class="alert-warning">MODALIDADE: PREGÃO ELETRÔNICO ENDEREÇO http://www.bec.sp.gov.br
                        http://www.bec.fazenda.sp.gov.br TIPO MENOR PREÇO DATA: 19/06/2018</span> HORÁRIO: 11:00 horas LOCAL: R. da
                        Consolação n 1379 8 andar Consolação São Paulo/SP CAUFESP. Registro de Preço para aquisição de
                        UNIFORMES MASCULINOS FEMININOS para efetivo da GUARDA CIVIL METROPOLITANO
                        </br></br>
                        Item Descrição do item Tipo Quantidade Participação
                        <span class="alert-danger" data-toggle="tooltip" data-placement="top" title="Quantidade alterada, alto risco">
                        01 Bota	preta	de	cano	curto	– borzeguim PAR 800 RESERVADA
                        </span>
                        02 Bota	preta	de	cano	curto	– borzeguim PAR 1800 AMPLA
                        </br></br>
                        ITEM 01 COTA RESERVADA destinada EXCLUSIVAMENTE à participação de MICRO E/OU
                        PEQUENAS EMPRESAS E/OU ÀS SOCIEDADES COOPERATIVAS que tenham auferido no
                        calendário anterior receita bruta até limite definido no inciso II do caput do artigo 3 da Lei Complementar
                        Federal n 123 de 14 de dezembro de 2006 Poderão participar desta licitação todos que estiverem registrados
                        no CAUFESP em atividade econômica compatível com seu objeto que sejam detentores de senha para
                        participar de procedimentos eletrônicos tenham credenciado os seus representantes na forma estabelecida no
                        regulamento que disciplina inscrição no referido Cadastro. As informações respeito das condições exigidas
                        dos procedimentos serem cumpridos para registro no CAUFESP para credenciamento de representantes para
                        obtenção de senha de acesso estão disponíveis no endereço eletrônico www.bec.sp.gov.br. CONDIÇÕES
                        FISCALIZAÇÃO LOCAL DE ENTREGA. entrega do objeto será em até 30 (trinta) dias úteis contados
                        da retirada da Ordem de Fornecimento. objeto deverá ter garantia de no mínimo 12 meses contra defeitos
                        de fabricação contar do recebimento definitivo do objeto. As solicitações de prorrogação de prazo para entrega
                        do objeto deverão atender as seguintes condições: ser protocoladas até data final prevista para entrega
                        instruídos com justificativa respectiva comprovação documental conforme art. 56 do Decreto 44.279/03.
                </p>
            </div>
            </div>
        </div>
    </div>
    </section>
    <footer>
        <p>Hack in Sampa - 2 Temporada</p>
    </footer>

  <script src="./static/vendor/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
    <script>
      $( "#onUpload" ).on( "click", function() {
        $.post( "ajax/test.html", function( data ) {
          $( ".result" ).html( data );
        });
      });
    </script>
    </div>
</body>
</html>
